In [1]:
print("hello world")

hello world

# VARIABLES

In [2]:
my_message = "Hello Adil"
print(my_message)

Hello Adil

# UPPER-LOWER CASE

In [3]:
name = "adil m. ather"
print(name)
print(name.title())      # All first alphabet in capital
print(name.lower())
print(name.upper())

adil m. ather
Adil M. Ather
adil m. ather
ADIL M. ATHER

# COMBINING OR CONCATENATING STRINGS

In [4]:
first_name = "Adil"
second_name = "M. Ather"
full_name = first_name +"  "+ second_name
print(full_name)

Adil  M. Ather

# Stripping Whitespace

In [5]:
favorite_language = "PYTHON"
favvorite_language = favorite_language.lstrip()
favorite_language.rstrip()
favorite_language.strip()
print(favorite_language)

PYTHON

# Accessing Elements in a List

In [6]:
cities = ["karachi", "lahore", "islamabad", "peshawar", "quetta", "lahore"]
print(cities)

['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'lahore']

# Count method counts the same items how many times

In [7]:
cities_count = cities.count("lahore")
cities_count = cities.count("islamabad")
print(cities_count)

1

# index position

In [8]:
print(cities[0])
print(cities[3])
print(cities[2].upper())

karachi
peshawar
ISLAMABAD

# first letter capital with position from cities

In [9]:
print(cities[3].title())

Peshawar

# last item

In [10]:
print(cities[-1])
print(cities[-2])

lahore
quetta

# Modifying Elements in a List with index position

In [11]:
cities[0] = "hyderabad"
print(cities)

['hyderabad', 'lahore', 'islamabad', 'peshawar', 'quetta', 'lahore']

# Appending(Add) Elements to the End of a List " append "

In [12]:
cities.append("rahim yar khan")
print(cities)

['hyderabad', 'lahore', 'islamabad', 'peshawar', 'quetta', 'lahore', 'rahim yar khan']

# empty list then add items by append

In [13]:
cities = []
cities.append("faislabad")
cities.append("gujranwala")
cities.append("okara")
print(cities)

['faislabad', 'gujranwala', 'okara']

# Inserting Elements into a List with position

In [14]:
cities.insert(1, "hunza")
print(cities)

['faislabad', 'hunza', 'gujranwala', 'okara']

# Auto arrange index number

In [15]:
cities.insert(20, "qalat")
cities[5]
print(cities)
print(cities[5])
print(cities)

IndexError: list index out of range

# Removing an Item Using the del Statement with position

In [16]:
cities = ["karachi", "lahore", "islamabad", "peshawar", "quetta", "dado"]
del cities[1]
print(cities)
cities.append("dado")
print(cities)
cities.remove("dado")
print(cities)

['karachi', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'islamabad', 'peshawar', 'quetta', 'dado', 'dado']
['karachi', 'islamabad', 'peshawar', 'quetta', 'dado']

# POP - Remove an item from list and able to work with that item, POP method , pop() only for last item

In [17]:
cities.pop()
cities.pop(-2)
cities.pop(1)
print(cities)

['karachi', 'quetta']

# Example to show poped item

In [18]:
poped_cities = cities.pop()
print(poped_cities)

quetta

# Example 1 to use poped item "."

In [19]:
last_visited_city = cities.pop()
print("my last vist city was" + " " + last_visited_city + ".")
print("my last vist city was" + " " + last_visited_city.title() + ".")
print("my last vist city was" + " " + last_visited_city.upper() + ".")

my last vist city was karachi.
my last vist city was Karachi.
my last vist city was KARACHI.

# Example with empty list

In [20]:
city_visited = []
city_visited.append(cities.pop(2))
print(city_visited)

IndexError: pop from empty list

In [21]:
print(cities)

[]

# Replace items names

In [23]:
cities = ['hyderabad', 'lahore', 'islamabad', 'peshawar', 'quetta', 'lahore', 'rahim yar khan']
cities[1] = "Pakistan cities names"
cities[0] = "Pakistan cities names"
cities[-2] = "Pakistan cities names"
print(cities)

['Pakistan cities names', 'Pakistan cities names', 'islamabad', 'peshawar', 'quetta', 'Pakistan cities names', 'rahim yar khan']

# Slicing a List it works with item no. not index no.

In [25]:
cities = ["karachi", "lahore", "islamabad", "peshawar", "quetta", "dado"]
print(cities[0:2])
print(cities[2:4])
print(cities[1:5])
print(cities[:2])
print(cities[:4])
print(cities[:])
print(cities[2:])
print(cities[-3:])
print(cities[-2:5])
cities[::-1]

['karachi', 'lahore']
['islamabad', 'peshawar']
['lahore', 'islamabad', 'peshawar', 'quetta']
['karachi', 'lahore']
['karachi', 'lahore', 'islamabad', 'peshawar']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['islamabad', 'peshawar', 'quetta', 'dado']
['peshawar', 'quetta', 'dado']
['quetta']

['dado', 'quetta', 'peshawar', 'islamabad', 'lahore', 'karachi']

# Traditional Method for slicing

In [26]:
for i in range(2,5):
     print(cities[i])

islamabad
peshawar
quetta

In [27]:
for city in cities:
    print(cities)

['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']

# Creat List

In [28]:
number_series = list(range(0,101))
print(number_series)
print(number_series[10:15])    # slice

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[10, 11, 12, 13, 14]

# [ start : End : Steps ] Slice

In [29]:
print(number_series[0:100:9])
print(number_series[0:101:5])
print(number_series[-20:-30:-1])
print(number_series[-40:-60:-2])

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[81, 80, 79, 78, 77, 76, 75, 74, 73, 72]
[61, 59, 57, 55, 53, 51, 49, 47, 45, 43]

# Slicing Reverse

In [30]:
print(number_series[::-1])
print(number_series.reverse())

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
None

# Copy method in another list

In [31]:
second_number_series = number_series.copy()
second_number_series[0] = 2000
print(second_number_series)

[2000, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [33]:
third_number_series = number_series[:]
third_number_series[99] = 4000
print(third_number_series)

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 4000, 0]

In [35]:
len(cities)       # Length

6

In [36]:
cities.reverse()
print(cities)

['dado', 'quetta', 'peshawar', 'islamabad', 'lahore', 'karachi']

# Sort
The sort function can be used to sort a list in ascending, descending or user defined order

In [37]:
cities.sort()
print(cities)

['dado', 'islamabad', 'karachi', 'lahore', 'peshawar', 'quetta']

In [41]:
cities.sort(reverse=True)
cities

['quetta', 'peshawar', 'lahore', 'karachi', 'islamabad', 'dado']

In [42]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [47]:
# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
cars

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

# Defining a Tuple , just like LIST but use () and fix, can not change

In [48]:
dimensions = (200,50)
print(dimensions[0])
print(dimensions[1])

200
50

# this shows Error because it can not change

In [49]:
dimensions[0] = 100
print(dimensions[0])

TypeError: 'tuple' object does not support item assignment

# For Loop, Looping Through All Values in a Tuple

In [50]:
cities = ["karachi", "lahore", "islamabad", "peshawar", "quetta", "dado"]
for city in cities:
    print(cities)

['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']
['karachi', 'lahore', 'islamabad', 'peshawar', 'quetta', 'dado']

# Writing over a Tuple

In [51]:
dimensions = (200,50)
print("\nActual dimension:")
for dimension in dimensions:
    print(dimensions)

Actual dimension:
(200, 50)
(200, 50)